   # Игнорируем файлы Python
   __pycache__/
   *.py[cod]
   *$py.class
   venv/
   .env
   
   # Игнорируем отчеты и временные файлы
   reports/
   *.xlsx
   *.tmp

# Игнорировать файл проверить.txt
проверить.txt

# Игнорировать директорию с отчетами
/Оплаты за волейбол/